body {
  font-family: "Lato", sans-serif;
}

.bio {
  line-height: 150%
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 12px;
  margin-bottom: 24px;
}

.navigation>div {
  margin-left: 10px;
  margin-right: 10px;
  text-transform: lowercase;
}

.active-nav-link {
  transition: color 0.3s;
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black;
  text-decoration: none;
}

.nav-link {
  transition: color 0.3s;
  border-bottom: 1px solid transparent;
}

.nav-link a {
  color: #8a8a8a;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 1px solid #8a8a8a;
}

.container {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 15%;
  margin-right: 15%;
}

.nameblock {
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 40px;
  line-height: 85%;
}

.courseblock {
  line-height: 150%;
}

.circPic {
  float: right;
  margin-right: 130px;
  width: 200px;
  height: 200px;
}

.pageHead {
  margin-top: 80px;
}

.blurb {
  margin-left: 30px;
  color: #808080;
}

.foot {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 0.7em;
}

h2 {
  font-size: 28px;
}

h4 {
  font-weight: normal;
  font-style: italic;
  font-size: 90%;
}

hr {
  margin-top: 25px;
}

h5 {
  font-size: 22px;
  margin-bottom: -26px;
}

h6 {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 16px;
}

ul {
  margin-top: -7px;
  margin-bottom: -7px;
}

.projectDesc {
  margin-bottom: 20%;
}

.helmetmount {
  width: 40%;
  height: auto;
  padding: 4px 12px 1px 4px;
  margin-bottom: -8px;
}

.explodedmount {
  height: 301.6px;
  width: auto;
  padding: 4px 4px 1px 12px;
  margin-bottom: -8px;
}

.hpvside {
 width: 433px;
 height: 231.6px;
 padding: 4px 6px 4px 0px;
}

.hpvframe {
  width: 356.4px;
  height: 231.6px;
  padding: 4px 0px 4px 6px;
}

.hpvproto {
  width: 308.9px;
  height: 231.7px;
  padding: 4px 72px 4px 24px;
}

.hpvsim {
  width: 370.7px;
  height: 231.7px;
  padding: 4px 0px 4px 6px;
}

.hpvcad {
  width:456px;
  height:283.2px;
  padding: 4px 48px 4px 0px;
  margin-bottom: -8%;
}

.hpvfile {
  width:212.4px;
  height:283.2px;
  padding: 4px 0px 4px 20px;
  margin-bottom: -8%;
}

.EEfront {
  width:184.3px;
  height:245.8px;
  padding:4px 24px 4px 0px;
  margin-bottom: -5%;
}

.EEtop {
   width:184.3px;
   height:245.8px;
   padding: 4px 0px 4px 0px;
   margin-bottom: -5%;
}

.PCA {
  width:412.1px;
  height:245.8px;
  padding: 4px 0px 4px 6px;
  margin-bottom: -5%;
}

.gitlet {
  width:283px;
  height:194px;
  float: left;
  padding: 5px 20px 10px 0px;
  margin-bottom: 5%;
}

.turbine {
  width:177.5px;
  height:236.5px;
  float: right;
  padding: 5px 20px 5px 25px;
}

.joycon {
   width: 181.4px;
   height: 155.6px;
   float: left;
   padding: 5px 20px 10px 0px;
   margin-bottom: 8%;
}

.pianorack1 {
  width: 398.64px;
  height: 332.64px;
  padding: 4px 20px 4px 0px;
  margin-bottom: -10%;
}

.pianorack2 {
  width: 316.36px;
  height: 332.64px;
  padding: 4px 0px 4px 20px;
  margin-bottom: -10%;
}

.phoenixPic {
   width: 201.6px;
   height: 277.125px;
   float: right;
   padding: 5px 0 10px 20px;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    margin: 15%;
    margin-bottom: 20%;
  }

  .container {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .circPic {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 15%;
  }

  h1 {
    font-size: 120%;
    font-weight: bold;
  }

  h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
  }

  .bio {
    margin-top: -5%;
    line-height: 120%;
    font-size: 90%;
  }

  .courseblock {
    line-height: 150%;
    font-size: 80%;
  }

  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 110%;
  }

  ul {
    margin-left: -10%;
  }

  .pageHead {
    font-size: 80%;
    margin-top: 20%;
  }

  .blurb {
    margin-left: 0;
    color: #808080;
    font-size: 80%;
    margin-bottom: 5%;
  }

  h5 {
    font-size: 100%;
    margin-bottom: -5%;
  }

  h6 {
    font-size: 80%;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 5%;
  }

  .projectDesc {
    margin-bottom: 15%;
    font-size: 80%;
  }

  .hpvside {
   width: 80%;
   height: auto;
   padding: 5%;
  }

  .hpvframe {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  .hpvproto {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  .hpvsim {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  .hpvcad {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  .hpvfile {
    width: 80%;
    height: auto;
    padding: 5%;
    margin-bottom: 10%;
  }

  .EEfront {
    width: 40%;
    height: auto;
    padding: 5%;
    padding-right: 1%;
  }

  .EEtop {
    width: 40%;
    height: auto;
    padding: 5%;
    padding-left: 1%;
  }

  .PCA {
    width: 80%;
    height: auto;
    margin-left: 7%;
    margin-right: 7%;
    padding: 5%;
    margin-bottom: 10%;
  }

  .gitlet {
    width: 80%;
    height: auto;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .turbine {
    width: 40%;
    height: auto;
    padding: 5%;
    float: right;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .turbineBlock {
    margin-bottom: 30%;
  }

  .joycon {
    width: 60%;
    margin-right: 10%;
    margin-left: 10%;
    height: auto;
    padding: 5%;
    margin-bottom: 5%;
  }

  .pianorack1 {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  .pianorack2 {
    width: 80%;
    height: auto;
    padding: 5%;
    margin-bottom: 10%;
  }

  .phoenixPic {
    width: 50%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
  }

  .foot {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.7em;
  }
}
